@using Project2.Context;
@{
    MyDbContext db = new MyDbContext();

    ViewBag.cart = db.Cart.ToList();
    ViewBag.product = db.Product.ToList();
    //TimeSpan timeAdded = new TimeSpan();

}
<style>
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
    }

    .menu-area li a {
        text-decoration: none;
    }

    .menu-area li {
        list-style-type: none;
    }

    .custom-padding {
        padding-top: -120px;
        margin-top:65px;
        height:100px;
        
    }
    .nav {
        position: relative;
        width: calc(100% - 60px);
        margin: 0 auto;
        padding: 10px 0;
        background: #333;
        z-index: 1;
        text-align: right;
        padding-right: 3%;
        height: 50px;
    }
    .logo {
        width: 15%;
        float: left;
        text-transform: uppercase;
        color: #fdf1ec;
        font-size: 25px;
        text-align: left;
        padding-left: 2%;
    }
    .menu-area li {
        display: inline-block;
    }
    .menu-area a {
        color: #fdf1ec;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        padding: 0 25px;
        font-size: 14px;
        line-height: 30px;
        position: relative;
        z-index: 1;
        border:7px 7px 7px 7px;
        
    }
        .menu-area a:hover {
            background: #fdf1ec;
            color: black;
            border: 7px 7px 7px 7px;
            height:50px;
        }

            .menu-area a:hover:after {
                transform: translateY(-50%) rotate(-35deg);
            }
    nav:before {
        position: absolute;
        content: '';
        border-top: 10px solid white;
        border-right: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 100%;
        left: 0;
    }

    nav:after {
        position: absolute;
        content: '';
        border-top: 10px solid white;
        border-left: 10px solid white;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 100%;
        right: 0;
    }
    .modal-footer button {
        background-color: #d9534f;
        border-color: black;
        font-size: 18px;
        font-weight: bold;
        color: #fdf1ec
    }

        .modal-footer button:hover {
            background: #fdf1ec;
            color: black;
            border-color: black;
        }

</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMarket - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (ViewBag.error != null)
    {
        <script>alert("product is already added");</script>
    }
    <div class="custom-padding">
        <nav class="nav" style="margin-top:-115px;">
            <div class="logo">logo</div>
            <ul class="menu-area">
                <li><a href="#">@Html.ActionLink("EMarket", "Index", "Home", new { area = "" })</a></li>
                <li><a href="#">@Html.ActionLink("Shop", "Index", "Home", new { area = "" })</a></li>
                <li><a data-toggle="modal" data-target="#cartModal" style="cursor:pointer"> GO TO CART LIST </a></li>
                <li><a href="#">@Html.ActionLink("Add New Product", "AddProduct", "Home", new { area = "" })</</a></li>
                
            </ul>
        </nav>
    </div>
     @*Modal hna da goz2 el cart*@ 
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:black ; opacity:0.9;" >
                <div class="modal-header" style="background-color: black;opacity: 0.8; left:50% ;margin-bottom:-20px;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #fdf1ec;font-family:'Lucida Handwriting';font-size:30px; margin-left:190px ;padding-bottom:-75px;padding-top:25px">CART LIST</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                </div>
                <div class="modal-body" style="color: #fdf1ec">
                    <table class="table-hover ">
                        @foreach (var product in ViewBag.cart)
                        {
                            foreach (var item in ViewBag.product)
                            {
                                if (product.ProductId == item.Id)
                                {
                                    <tr class="table-bordered">
                                        <td class="table-bordered" style="padding:10px">
                                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveFromCart", "Home", new { id = item.Id })'">REMOVE</button>
                                        </td>
                                        <td class="table-bordered" style="padding:10px">
                                            <p style="font-weight:bold">@item.Name — @item.Price EGP </p>
                                            <p style="font-style:oblique">Added to cart @DateTime.Now.Subtract(product.Added_At).Hours hours ago.</p>
                                        </td>

                                    </tr>

                                }

                            }
                        }
                    </table>

                </div>
                <div class="modal-footer" style="padding-top:-35px">
                    <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EMarket, Internet Application Course</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
