@using Project2.Context;
@{
    MyDbContext db = new MyDbContext();

    ViewBag.cart = db.Cart.ToList();
    ViewBag.product = db.Product.ToList();

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMarket - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EMarket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <div class="navbar-right">
                    <!-- Button trigger modal  hna da el zorar bta3 el cart bta3tk-->
                    <a data-toggle="modal" data-target="#cartModal"> GO TO CART LIST </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal hna da goz2 el cart -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CART LIST</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table-hover ">
                        @foreach (var product in ViewBag.cart)
                        {
                            foreach (var item in ViewBag.product)
                            {
                                if (product.ProductId == item.Id)
                                {
                                    <tr class="table-bordered">
                                        <td class="table-bordered" style="padding:10px">
                                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveFromCart", "Home", new { id = item.Id })'">REMOVE</button>
                                        </td>
                                        <td class="table-bordered" style="padding:10px">
                                            <p style="font-weight:bold">@item.Name — @item.Price EGP </p>
                                            <p style="font-style:oblique">Added to cart @DateTime.Now.Subtract(product.Added_At).Hours hours ago at @product.Added_At.ToString("hh:mm tt - dd/MM/yyyy") .</p>
                                        </td>

                                    </tr>

                                }

                            }
                        }
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EMarket, Internet Application Course</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
