@model Project2.Models.Product
@using Project2.Context;

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MyDbContext db = new MyDbContext();
    ViewBag.categories = db.Category.ToList();
}

<style>
    body {
        background-color: #fdf1ec;
    }
    .register-right {
        border: none;
        background: black;
        opacity:0.7;
        /* border-top-right-radius: 10% 50%;
        border-bottom-right-radius: 10% 50%;*/
        padding: 50px;
        width: 470px;
        margin-left: 320px;
        margin-top: -25px;
        border-radius: 9px 9px 9px 9px;
        box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
        .register-right h2 {
            text-align: center;
            margin-bottom: 10px;
            margin-left: 40px;
            color: #fdf1ec;
            font-size: 33px;
        }
    .register-form {
        padding: 20px;
    }
    .form-group {
        margin-left: -25px;
        color: #fdf1ec;
    }
    .label2{
        
    }
</style>
<center>
</center>

<body>
    <div class="container">
        <div class="register-right">
            @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="form-group" style="margin-top:45px;">
                <h2 style="font-family:'Lucida Handwriting'; margin-top:-70px ;margin-right:24px; padding-bottom:14px;">Add New Product</h2>
                @Html.LabelFor(model => model.Name, "Name:", htmlAttributes: new { @class = "control-label col-md-4" })
                <div  class="label2">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, "Price:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="label2">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="label2">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 4 })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="form-group" >
                    @Html.LabelFor(model => model.Category, "Catagory:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="label2" style="color:black">
                        <select name="CategoryId">
                            <option selected disabled> Choose Category</option>
                            @foreach (var category in ViewBag.categories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, "Image:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="label2">
                        @Html.TextBoxFor(model => model.Image, new { type = "file" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group2" style="margin-bottom:-20px; margin-top:5px;">
                    <button type="submit" class="btn btn-success">Add Product</button>
                    <button type="button" class="btn btn-danger" style="float:right" onclick="location.href='@Url.Action("Index", "Home")'">
                        Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</body>

