@model List<Project2.Models.Product>
@using Project2.Context;

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MyDbContext db = new MyDbContext();
    ViewBag.categories = db.Category.ToList();

}

<style>
    .grid-container {
        display: inline-block;
        grid-row-gap: 2000px ;
        column-fill: auto auto auto;
        padding: -50px;
        margin-left: -130px;
        margin-right: -230px;
    }

    .grid-item {
        border: 1px solid #fdf1ec;
        padding: 5px;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 450px;
        width: 250px;
        border-radius: 7px 7px 7px 7px;
    }
    .grid-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    h6 {
        font-size: 15px;
        color: black;
    }

    .panel-body {
        overflow: hidden;
    }

        .panel-body img {
            margin-left: 0px;
            width:100%;
            transition: all 1.5s ease;
            border-radius: 7px 7px 7px 7px;
        }

        .panel-body:hover img {
            transform: scale(1.1);
            opacity:0.5;
           
        }

    .button2 {
        background-color: transparent;
        color: #fdf1ec;
        font-family: Lucida Handwriting;
        font-size:medium;
        border-radius: 0;
        border: 1px solid #fdf1ec;
        width: 230px;
        margin-top: -100px;
    }
        .button2 button {
            background-color: black;
            border-color: #fdf1ec;
        }

            .button2 button:hover {
                background: #fdf1ec;
                color: black;
                border-color: #fdf1ec;
            }
    .card {
        padding: 0px;
        height: 500px;
    }
    .custom {
        padding-top: -20px;
        height: 100px;
    }
    .navbar {
        /*position: relative;*/
        width: 1510px;
        background: #fdf1ec;
        height: 160px;
        padding-right: 45px;
        padding-left: -100px;
        margin-left: -105px;
        margin-top: -40px;
    }
    h1{
        text-align:center;
    }
    .title{
        text-align:center;
    }
    .form-control {
        background-color: #fdf1ec;
        position:center;
        object-position:center;
    }
    option {
        position: center;
        background-color:#fdf1ec;
    }
    form{
        position:absolute;
        left:36%;
        display: inline-block;
    }
        form .btn {
            margin-top: -40px;
            margin-left: 270px;
            background-color: #fdf1ec;
        }

</style>
<center>
<div class="custom">
    <nav class="navbar">
        <h1 style="font-family:'Lucida Handwriting'">Online Market</h1>
        <div class="title">
            @*@Html.Label("Search Product By Category")*@
            <h2 style="font-family: 'Gill Sans Nova ';font-size:18px; margin-top:-5px;">Search Product By Category</h2>
        </div>
        <form method="get" action="/Home/Search" class="form">
            <select name="id" class="form-control" style="border-bottom-color: black;border-color: #fdf1ec">
                <option selected disabled >Select Category</option>
                @foreach (var category in ViewBag.categories)
                {
                    <option value="@category.CategoryId"> @category.Name</option>
                }
            </select>
            <button type="submit" class="btn">Search</button>
        </form>
    </nav>
</div>

    <br />&nbsp;<br />
</center>

<body style="background-color:#fdf1ec ;margin-left:105px;">

    <div class="grid-container">
            @foreach (var product in Model)
            {
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <div class="container-fluid mt-4">
                        <div class="row justify-content-center">
                            <div class="col-auto mb-2">
                                <div class="grid-item">
                                    <div class="card">
                                        <div class="panel-body">
                                            <img src="@Url.Content("~/Content/Images/" + product.Image)" alt="@product.Name" height="250" ; width="200" />

                                        </div>
                                        <h5 class="card-title text-center">@Html.DisplayFor(ModelItem => product.Price) EGP</h5>
                                        <h5 class="text-center text-muted">@Html.DisplayFor(ModelItem => product.Category.Name)</h5>
                                        <h6 class="card-subtitle mb-2 ">@Html.DisplayFor(ModelItem => product.Name)</h6>
                                    </div>
                                    <div class="button2">
                                        <button type="button" class="btn" onclick="location.href='@Url.Action("Detail","Home", new { id = product.Id })'">Show More</button>
                                        <button type="button" class="btn" onclick="location.href='@Url.Action("AddToCart","Home", new { id = product.Id })'">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
       
</body>