@model List<Project2.Models.Product>
@using Project2.Context;

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MyDbContext db = new MyDbContext();
    ViewBag.categories = db.Category.ToList();

}

<style>
    .grid-container {
        display: inline-block;
        grid-gap: 50px;
        column-fill: auto auto auto;
        padding: -50px;
        margin-left: -40px;
        margin-right: -80px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgb(128, 128, 128);
        padding: 5px;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h6 {
        font-size: larger;
        color: black;
    }

    .panel-body {
        overflow: hidden;
    }

        .panel-body img {
            margin-left: -30px;
            transition: all 1.5s ease;
            border-radius: 7px 0 0 7px;
        }

        .panel-body:hover img {
            transform: scale(1.1);
        }

    .button2 {
        padding-top: 0px;
        margin-bottom: 100px;
    }

    .btn {
        padding: 5px;
    }

    .card {
        padding: 0px;
        height: 500px;
    }
</style>

<center>
    <h1>Online Market</h1>
    <br />&nbsp;<br />


    <div class="container">
        <div class="row">
            @Html.Label("Search Product By Category")
            <form method="get" action="/Home/Search">
                <select name="id" class="form-control">
                    <option selected disabled>Select Category</option>
                    @foreach (var category in ViewBag.categories)
                    {
                        <option value="@category.CategoryId"> @category.Name</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br /><br />
            <div>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddProduct", "Home")'"> Add New Product </button>
            </div>
        </div>
    </div>


    <br />&nbsp;<br />
</center>

<body style="background-color:#fdf1ec">

    <div class="grid-container">
        @foreach (var product in Model)
        {
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <div class="container-fluid mt-4">
                    <div class="row justify-content-center">
                        <div class="col-auto mb-2">
                            <div class="grid-item">
                                <div class="card">
                                    <div class="panel-body">
                                        <img src="@Url.Content("~/Content/Images/" + product.Image)" alt="@product.Name" height="250" ; width="200" />
                                    </div>
                                    <h5 class="card-title text-center">@Html.DisplayFor(ModelItem => product.Price) EGP</h5>
                                    <h6 class="card-subtitle mb-2 ">@Html.DisplayFor(ModelItem => product.Name)</h6>
                                </div>
                                <div class="button2">
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Detail","Home", new { id = product.Id })'">Show More</button>
                                    <br /><br />
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddToCart","Home", new { id = product.Id })'">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</body>